// Grid Breakpoints
$break-desktop: 1025px;
$break-tablet: 769px;
$break-mobile: 321px;

// Colors
$blue: #00f;

// Fonts
$fontStack: Helvetica, Arial, sans-serif;
$h1FontSize: 34px;
$h2FontSize: 24px;
$h3FontSize: 18px;
$h4FontSize: 15px;