<div class="template">
    <ul class="menu global">
        <li><a href="/home.html">Home</a></li>
        <li><a href="/findadoctor.html">Find a Doctor</a></li>
    </ul>

    <div class="page">
        <p>Non-region-specific Find a Doctor page content.</p>

        <p>{{ controllerDescription }}</p>
    </div>

    <div class="dynamic">
        <p>Information about a Harrisonburg, VA doctor.</p>
    </div>

    <ng-include src="'/views/includes/grid.html'"></ng-include>
    <ng-include src="'/views/includes/aspot.html'"></ng-include>
</div>
